@model ExerciseVM
 
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Exercise.Id!=0?"Update":"Create") Exercise</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="Exercise.Id" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Exercise.Name" class="form-control border-0 shadow" />
                    <label asp-for="Exercise.Name" class="ms-2"></label>
                    <span asp-validation-for="Exercise.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Exercise.Level" class="form-control border-0 shadow" />
                    <label asp-for="Exercise.Level" class="ms-2"></label>
                    <span asp-validation-for="Exercise.Level" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="Exercise.EquipmentId" asp-items="@Model.EquipmentList" class="form-select border-0 shadow" >
                        <option disabled selected>--Select Equipment--</option>
                    </select>
                    <label asp-for="Exercise.EquipmentId" class="ms-2">Choose equipment</label>
                    <span asp-validation-for="Exercise.EquipmentId" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="SelectedMuscles" asp-items="@Model.MuscleList" class="form-select border-0 shadow" multiple style="height: 150px;">
                        <option disabled selected>--Select Muscle--</option>
                    </select>
                    <label asp-for="SelectedMuscles" class="ms-2">Choose muscle</label>
                    <span asp-validation-for="SelectedMuscles" class="text-danger"></span>
                </div>




                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.Exercise.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>

                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>

                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Exercise" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}