@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/images/podea.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
        background-size:100%; /* This ensures that the background image covers the entire screen */
        background-position: center; /* This centers the background image */
        background-repeat:no-repeat
    }
</style>

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Century Gothic', sans-serif;"><b>VariFit</b></h1>
    <p style="font-family: 'Century Gothic', sans-serif;"><em>Your Gateway to Dynamic Home Fitness</em></p>
</div>
